h1,h2,h3,h4,h5,h6,p,blockquote,dl,img,figure {
    margin: 2rem 0;
}

p { margin: 2rem 0; }


body{
    margin:0 auto;
    max-width:50rem;
}

blockquote {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: #000000;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

/* zebra striping */

tbody tr:nth-child(odd) {
  background-color: #dedede;
}

tbody tr:nth-child(even) {
  background-color: #d2d2d2;
}



