<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<header class="homepage-header">
    <h1>Some French covid data</h1>
    <span class="subtitle">Pretty useless, for personal use. Go to covidtracker.fr instead.</span>
    <p>See <a href="#plots">plots</a> below.</p>
</header>
<div class="homepage-content">
    <p>Last updated: {{ run_datetime | datetime_format }} UTC</p>
<h2>Basic numbers</h2>
    <table>
        <thead>
        <tr>
            <th>Date (D-3)</th>
            <th>Daily cases</th>
            <th>Daily tests</th>
            <th>Daily cases (rolling average 7d)</th>
            <th>Positive tests rate</th>
            <th>Rate, rolling average (7d)</th>
        </tr>
        </thead>
        <tbody>
        {% for date, row in data.iterrows() %}
            <tr>
                <td>{{ date.strftime('%Y-%m-%d') }}</td>
                <td>{{ row['P'] }}k</td>
                <td>{{ row['T'] }}k</td>
                <td>{{ row['Mean']}}k</td>
                <td>{{ row['Ratio']}}%</td>
                <td>{{ row['RollingRate']}}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<h2 id="plots">Plots</h2>
{% for plot in plots %}
<img src="static/{{ plot }}.png">
{% endfor %}
</div>
</body>
</html>
